/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

{
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
table {
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
table thead th:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
table thead th:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
tr:last-child td:first-child {
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
tr:hover td {
}
tr:nth-child(odd) {
  background-color:#f7c494;
}
tr:nth-child(even) {
  background-color:#ffffff;
}
td {
	vertical-align:middle;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
tr:last-child td {
	border-width:0px 1px 0px 0px;
}
tr td:last-child {
	border-width:0px 0px 1px 0px;
}
tr:last-child td:last-child {
	border-width:0px 0px 0px 0px;
}
thead th {
	background:-o-linear-gradient(bottom, #719bc4 5%, #2a5ee0 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #719bc4), color-stop(1, #2a5ee0) );
	background:-moz-linear-gradient( center top, #719bc4 5%, #2a5ee0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#719bc4", endColorstr="#2a5ee0");
  background: -o-linear-gradient(top,#719bc4,2a5ee0);

	background-color:#719bc4;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
thead:hover th {
	background:-o-linear-gradient(bottom, #719bc4 5%, #2a5ee0 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #719bc4), color-stop(1, #2a5ee0) );
	background:-moz-linear-gradient( center top, #719bc4 5%, #2a5ee0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#719bc4", endColorstr="#2a5ee0");
  background: -o-linear-gradient(top,#719bc4,2a5ee0);

	background-color:#719bc4;
}
thead th:first-child {
	border-width:0px 0px 1px 0px;
}
thead th:last-child {
	border-width:0px 0px 1px 1px;
}
